/*	Common CSS	*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'lato', sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: rgba(39, 39, 39, 0.60);
	font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
	color: #272727;
}
.section-title{
	text-align: center;
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 24px;
}
.section-subtitle{
	width: 594px;
	text-align: center;
	margin: 0 auto 30px;

}
.primary-btn{
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	background-color: #E55473;
	padding: 20px 34px;
	border: none;
	border-radius: 8px;
}
/*
section-title
section-subtitle
primary-btn
*/

/*	banner css	*/
.header-section{
	background-color: #E554731A;
}
.banner-container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 50px 0 0;

}
.banner-title{
	font-size: 80px;
	font-weight: 800;
	line-height: normal;
	margin-bottom: 32px;
}
.banner-description{
	width: 634px;
	margin-bottom: 32px;
}
.banner-img img{
	width: 420px;
}

/*	featured css	*/
.featured-section{
	padding: 100px 0 50px;
}
.featured-flower{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.flower-box1, .flower-box2, .flower-box3{
	width: 240px;
	height: 260px;
	border-radius: 300px 300px 0 0;
	display: flex;
	align-items: end;
	justify-content: center;
	padding: 80px 40px 0;
	margin-bottom: 30px;
}
.flower-box1{
	background-color: #A7216226;
}
.flower-box2{
	background-color: #0597A026;
}
.flower-box3{
	background-color: #477D1126;
}
.featured-box img{
	width: 240px;
	height: 260px;
}
.featured-box h5{
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	text-decoration: underline;
}

/* hot deal css */
.deal-section{
	padding: 50px 0;
}
.deal-container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}
.deal-text{
	text-align: center;
}
.section-title span{
	color: #E55473;
}
/*	instagram area css	*/
.instagram-section{
	padding: 50px 0;
}
.instagram-box{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.instagram-container p{
	margin-bottom: 40px;
}
.instagram-box img{
	width: 250px;
}