/*	Common CSS	*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'lato', sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: rgba(39, 39, 39, 0.60);
	font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
	color: #272727;
}
.section-title{
	text-align: center;
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 24px;
}
.section-subtitle{
	width: 594px;
	text-align: center;
	margin: 0 auto 30px;

}
.primary-btn{
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	background-color: #E55473;
	padding: 20px 34px;
	border: 1px solid #E55473;
	border-radius: 8px;
	cursor: pointer;
	transition: .1s;
}
.primary-btn:hover{
	color: #E55473;
	background-color: #E554731A;
	border: 1px solid #E55473;
}

/*	banner css	*/
.header-section{
	background-color: #E554731A;
}
.banner-container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 50px 0 0;
	width: 85%;
	margin: 0 auto;
}
.banner-title{
	font-size: 80px;
	font-weight: 800;
	line-height: normal;
	margin-bottom: 32px;
}
.banner-description{
	width: 634px;
	margin-bottom: 32px;
}
.banner-img img{
	width: 420px;
}

/*	featured css	*/
.featured-section{
	padding: 100px 0 50px;
}
.featured-container{
	width: 85%;
	margin: 0 auto;
}
.featured-flower{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.flower-box1, .flower-box2, .flower-box3{
	width: 240px;
	height: 260px;
	border-radius: 300px 300px 0 0;
	display: flex;
	align-items: end;
	justify-content: center;
	padding: 80px 40px 0;
	margin-bottom: 30px;
	cursor: pointer;
	border: 2px solid #fff;
	transition: .1s;
}
.flower-box1{
	background-color: #A7216226;
}
.flower-box2{
	background-color: #0597A026;
}
.flower-box3{
	background-color: #477D1126;
}
.flower-box1:hover{
	border: 2px solid #E55473;
}
.flower-box2:hover{
	border: 2px solid #0597A0;
}
.flower-box3:hover{
	border: 2px solid #477D11;
}
.featured-box img{
	width: 240px;
	height: 260px;
}
.featured-box h5{
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	text-decoration: underline;
	cursor: pointer;
	transition: .1s;
}
.featured-box h5:hover{
	text-decoration: none;
	color: #E55473;
}

/*	service area css	*/
.service-section{
	padding: 50px 0;
}
.service-container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 75%;
	margin: 0 auto;
}
.service-box{
	text-align: center;
}
.service-box h5{
	font-size: 20px;
	font-weight: 600;
}

/*	hot deal css	*/
.deal-section{
	padding: 50px 0;
}
.deal-container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 75%;
	margin: 0 auto;
}
.deal-text{
	text-align: center;
}
.section-title span{
	color: #E55473;
} 

/*	instagram area css	*/
.instagram-section{
	padding: 50px 0;
}
.instagram-container{
	width: 85%;
	margin: 0 auto;
}
.instagram-box{
	display: flex;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}
.instagram-box img{
	border: 2px solid #fff;
	transition: .1s;
}
.instagram-box img:hover{
	border:2px solid #E55473;
}
.instagram-container p{
	margin-bottom: 40px;
}
.instagram-box img{
	width: 250px;
}

/*	reviews area css	*/
.reviews-section{
	padding: 50px 0;
	background-color: #E554731A;
}
.reviews-container{
	width: 85%;
	margin: 0 auto;
}
.reviews-center{
	margin-top: 60px;
}
.reviews-box{
	display: flex;
	justify-content: center;
	align-items: start;
	margin-bottom: 40px;
}
.reviews-box img{
	width: 150px;
	cursor: pointer;
}
.revuew-name{
	font-size: 22px;
}
.review-icon i{
	color: #ff9b07;
	margin-right: 3px;
}
#review-icon-color{
	color: rgba(39,39,39,.6);
}
.review-description{
	width: 694px;
	font-style: oblique;
	padding: 0 15px;
	text-align: justify;
	line-height: 22px;
	padding-bottom: 8px;
	border-bottom: 1px solid rgba(39,39,39,.40);
}
.review-btn{
	text-align: center;
}

/*	subscribe area css	*/
.subs-section{
	padding: 50px 0 100px;
}
.subs-container{
	background-image: url('../images/rectangle 9.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 85%;
	margin: 0 auto;
	text-align: center;
	padding: 100px 0;
	border-radius: 8px;
}
.subs-container p{
	margin-bottom: 45px;
}
.subs-form input[type='email']{
	width: 45%;
	font-size: 16px;
	padding: 22px;
	border-radius: 8px;
	margin-right: 15px;
	border: none;
	background-color: #fff;
}
.subs-form input[type='email']:focus{
	outline: 1px solid #E55473;
	color: #E55473;

}
/*	footer area css*/
.footer-section{
	background-color: #111010;
	padding: 100px 0;
}
.footer-container {
	color: #FFFFFFE5;
	text-align: center;
}
.footer-container h2{
	color: #fff;
}
.footer-reserved{
	color: #FFFFFF66;
}
.footer-reserved a{
	text-decoration: none;
	color: #FFFFFF66;
	transition: .3s;
}
.footer-reserved a:hover{
	color: #E55473;
}